version: '3.4'

services:
  rudebot:
    image: ${DOCKER_REGISTRY-}rudebot
    build:
      context: .
      dockerfile: RudeBot/Dockerfile
    container_name: rudebot-container
    restart: always
    volumes:
      - ./data:/app/data
    env_file:
      - .env
